<h1>{{ title }}</h1>
<!--Permet de récupérer la valeur title définie dans le component.js et de l'afficher à l'écran -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <!-- routerLink permet de naviguer dans la navigation et créer un hyperlink qui va mener à une autre page, celle du détail héro par le biais de son id 
  qui va s'afficher aussi dans l'url -->
</nav>
<router-outlet></router-outlet>
<!-- appele le composant router-outlet via son sélecteur pour que le routerLink fonctionne -->
<app-messages></app-messages>
<!-- appele le composant app-message via son sélecteur -->
